<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃 배치</title>

    <link rel="stylesheet" href="../javascript/assets/css/style.css">
    <link rel="stylesheet" href="../javascript/assets/css/drcula.css">
    <style>
        .document .t_iframe {
            position: relative;
            padding-top: 56%;
            width: 100%;
            height: 0;
        }

        .document .t_iframe iframe {
            border: 1px solid rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>

</head>

<body>
    <main id="main">
        <!--main start-->
        <div class="document">
            <h2 class="t_tit">레이아웃(Layout) 배치</h2>
            <p class="t_desc2">
                레이아웃 배치시 사용할 수 있는 방법으로는 <i>float, flex, grid</i> 방식이 있습니다.
            </p>
            <div class="t_iframe">
                <iframe
                    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2Fc9BGcY5k0Hg8INetHu54vZ%2F%25EB%25A0%2588%25EC%259D%25B4%25EC%2595%2584%25EC%259B%2583%3Fnode-id%3D0%253A1"
                    allowfullscreen></iframe>
            </div>
            <hr>

            <h3 class="t_tit2">float을 이용한 레이아웃</h3>
                <p class="t_desc2">
                    foat:left 속성을 이용해 좌측 빈 공간부터 채워나갑니다.
                    <br>이후 아래 요소가 보이지 않는 버그는 clear:both속성을 사용하여 해결합니다.
                </p>
                <div class="t_code">
<pre><code class="language-css">*{
    margin: 0;
}
body{
    background-color: #FFF3E0;
}
#wrap{
    width: 1200px;
    margin: 0 auto;
}
#header{
    width: 100%;
    height: 100px;
    background-color: #FFE0B2;
}
#nav{
    width: 100%;
    height: 100px;
    background-color: #FFCC80;
}
#aside{
    width: 30%;
    height: 780px;
    background-color: #FFB74D;
    float: left;
}
#section{
    width: 70%;
    height: 780px;
    background-color: #FFA726;
    float: left;
}
#footer{
    width: 100%;
    height: 100px;
    background-color: #FF9800;
    clear: both;
}
@media (max-width: 1200px){
    #wrap{
    width: 96%;
    }
    #aside{
    width: 30%;
    }
    #section{
    width: 70%;
    }
}
@media (max-width: 768px){
    #wrap{
    width: 100%;
    }
    #aside{
    width: 30%;
    }
    #section{
    width: 70%;
    }
}
@media (max-width: 480px){
    #wrap{
    width: 100%;
    }
    #aside{
    width: 100%;
    height: 300px;
}
#section{
    width: 100%;
    height: 480px;
    }
}
</code></pre>
                </div>
                <h3 class="t_tit2">flex를 이용한 레이아웃</h3>
                <p class="t_desc2">
                    부모 요소에 flex:wrap을 주어 자식요소들을 감쌉니다.
                </p>
                <div class="t_code">
<pre><code class="language-css">*{
    margin: 0;
}
body{
    background-color: #FFF3E0;
}
#wrap{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#header{
    width: 100%;
    height: 100px;
    background-color: #FFE0B2;
}
#nav{
    width: 100%;
    height: 100px;
    background-color: #FFCC80;
}
#aside{
    width: 30%;
    height: 780px;
    background-color: #FFB74D;
    
}
#section{
    width: 70%;
    height: 780px;
    background-color: #FFA726;
}
#footer{
    width: 100%;
    height: 100px;
    background-color: #FF9800;
}
@media (max-width: 1220px){
    #wrap{
        width: 96%;
    }
}
@media (max-width: 768px){
    #wrap{
        width: 100%;
    }
}
@media (max-width: 480px){
    #wrap{
        width: 100%;
    }
    #aside {
        width: 100%;
        height: 300px;
    }
    #section {
        width: 100%;
        height: 480px;
    }
}
</code></pre>
                </div>
                <h3 class="t_tit2">grid를 이용한 레이아웃</h3>
                <p class="t_desc2">
                    gird-area: 속성으로 이름을 지정한뒤<br>
                    grid-template-areas:를 통해 각자 위치할 영역을 지정합니다.<br>
                    grid-template-columns: 속성은 grid 트랙의 크기들을 지정해주는 속성입니다.(=width)<br>
                    grid-template-rows: 속성은 grid 트랙의 높이들을 지정해주는 속성입니다.(=height)
                </p>
                <div class="t_code">
<pre><code class="language-css">*{
    margin: 0;
}
body{
    background-color: #FFF3E0;
}
#wrap{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "header header"
    "nav nav"
    "aside section"
    "footer footer"
    ;     

    grid-template-columns: 30% 70%;
    grid-template-rows: 100px 100px 780px 100px;

}
#header{
    grid-area: header;
    background-color: #FFE0B2;
}
#nav{
    grid-area: nav;
    background-color: #FFCC80;
}
#aside{
    grid-area: aside;
    background-color: #FFB74D;
    
}
#section{
    grid-area: section;
    background-color: #FFA726;
}
#footer{
    grid-area: footer;
    background-color: #FF9800;
}
@media (max-width: 1220px){
    #wrap{
        width: 96%;
    }
}
@media (max-width: 768px){
    #wrap{
        width: 100%;
    }
}
@media (max-width: 480px){
    #wrap{
        width:100%;
        grid-template-areas:
        "header header"
        "nav nav"
        "aside aside"
        "section section"
        "footer footer"
        ;     

        grid-template-columns: 30% 70%;
        grid-template-rows: 100px 100px 380px 480px 100px;
    }
}
</code></pre>
                </div>
                <h4 class="t_tit3">결과</h4>
                <div class="t_iframe">
                    <iframe src="https://codepen.io/parkhyeonshin/embed/WNzEjmY?default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                        See the Pen <a href="https://codepen.io/parkhyeonshin/pen/WNzEjmY">
                        레이아웃1_float_반응</a> by Parkhyeonshin (<a href="https://codepen.io/parkhyeonshin">@parkhyeonshin</a>)
                        on <a href="https://codepen.io">CodePen</a>.
                    </iframe>
                </div>
        </div>
    </main> <!-- //main end -->
    <footer id="footer">
        <a href="mailto:sshin4882@naver.com">sshin4882@naver.com</a>
    </footer>
    <!-- //footer -->
    <script src="../assets/js/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>